<!DOCTYPE html>
<html lang="en">

<head>
     <meta charset="UTF-8">
     <meta http-equiv="X-UA-Compatible" content="IE=edge">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="shortcut icon" href="static/images/favicon.ico" type="image/x-icon">
     <title>DIU BUS</title>
     <!-- CSS -->
     <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
     <link rel="stylesheet" type="text/css" href="../static/css/style.css">
     <link rel="stylesheet" type="text/css" href="../static/css/home3.css">
     <link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}">
     <link rel="stylesheet" href="{{url_for('static',filename='css/home3.css')}}">
     <!-- JavaScript -->
     <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
          integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
          crossorigin="anonymous"></script>
</head>
<body>
     <div class="main_body">
          <div class="width_center">
               <img class="logo" src="static/images/logo.png" alt="">
          </div>
          <div style="text-align: center;">
               <div style="margin-top: 10px; font-size: 20px; font-weight: bold; color:#39B24A;">Driver Portal</div>
           </div>
          <div class="main_area">
               <div class="width_center">
                    <div class="box">
                         <div class="filter mb">
                    <select id="input1" onchange="updateOptions()">
                         <option value="" disabled selected hidden>Select Bus</option>
                         <option value="Surjomukhi 1">Surjomukhi 1</option>
                         <option value="Surjomukhi 5">Surjomukhi 5</option>
                         <option value="Dolphin 5">Dolphin 5</option>
                         <option value="Surjomukhi 6">Surjomukhi 6</option>
                         <option value="Surjomukhi 10">Surjomukhi 10</option>
                         <option value="Dolphin 10">Dolphin 10</option>
                         <option value="Surjomukhi 11">Surjomukhi 11</option>
                         <option value="Surjomukhi 15">Surjomukhi 15</option>
                         <option value="Dolphin 15">Dolphin 15</option>

                         <option value="Surjomukhi 2">Surjomukhi 2</option>
                         <option value="Dolphin 1">Dolphin 1</option>
                         <option value="Dolphin 3">Dolphin 3</option>
                         <option value="Surjomukhi 7">Surjomukhi 7</option>
                         <option value="Dolphin 6">Dolphin 6</option>
                         <option value="Dolphin 8">Dolphin 8</option>
                         <option value="Surjomukhi 12">Surjomukhi 12</option>
                         <option value="Dolphin 11">Dolphin 11</option>
                         <option value="Dolphin 13">Dolphin 13</option>

                         <option value="Surjomukhi 3">Surjomukhi 3</option>
                         <option value="Surjomukhi 4">Surjomukhi 4</option>
                         <option value="Dolphin 2">Dolphin 2</option>
                         <option value="Dolphin 4">Dolphin 4</option>
                         <option value="Surjomukhi 8">Surjomukhi 8</option>
                         <option value="Surjomukhi 9">Surjomukhi 9</option>
                         <option value="Dolphin 7">Dolphin 7</option>
                         <option value="Dolphin 9">Dolphin 9</option>
                         <option value="Surjomukhi 13">Surjomukhi 13</option>
                         <option value="Surjomukhi 14">Surjomukhi 14</option>
                         <option value="Dolphin 12">Dolphin 12</option>
                         <option value="Dolphin 14">Dolphin 14</option>
                    </select>
                    </div>
                    <div class="width_center mb"><a href="https://chat.whatsapp.com/JbQuH9SHvG5LOBk9p2RiCX"><button class="green_button">Start Live Location</button></a></div>
                    <div class="width_center mb"><a href="https://chat.whatsapp.com/JbQuH9SHvG5LOBk9p2RiCX"><button class="white_button">Start Bus</button></a></div>
                    <div class="width_center">
                         <a href="index.html" class="a_button"><button class="green_button">Logout</button></a>
                    </div>
                    </div>
                    
               </div>
               
          </div>
          

     </div>
     
</body>

</html>