<!DOCTYPE html>
<html lang="en">

<head>
     <meta charset="UTF-8">
     <meta http-equiv="X-UA-Compatible" content="IE=edge">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="shortcut icon" href="static/images/favicon.ico" type="image/x-icon">
     <title>DIU BUS</title>
     <!-- CSS -->
     <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
     <link rel="stylesheet" type="text/css" href="../static/css/style.css">
     <link rel="stylesheet" type="text/css" href="../static/css/Passenger.css">
     <link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}">
     <link rel="stylesheet" href="{{url_for('static',filename='css/Passenger.css')}}">
     <!-- JavaScript -->
     <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
          integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
          crossorigin="anonymous"></script>
</head>

<body>
     <div class="main_body">
          <div class="width_center">
               <img class="logo" src="static/images/logo.png" alt="">
          </div>
          <div class="main_area">
               <form action="/search_bus" method="post">
                    <div class="filter2">
                         <select id="input1" onchange="updateOptions()">
                              <option value="" disabled selected hidden>From</option>
                              <option value="DIU">DIU</option>
                              <option value="Uttara">Uttara</option>
                              <option value="Mirpur">Mirpur</option>
                              <option value="Dhanmondi">Dhanmondi</option>
                         </select>
                         <hr class="line1">
                         <select id="input2" onchange="updateOptions()">
                              <option value="" disabled selected hidden>To</option>
                              <option value="DIU">DIU</option>
                              <option value="Uttara">Uttara</option>
                              <option value="Mirpur">Mirpur</option>
                              <option value="option4">Dhanmondi</option>
                         </select>
                    </div>
                    <div class="width_center">
                         <button class="green_button">Filter</button>
                    </div>
               </form>
               <div class="main_area">
                    <div class="default_route"><div class="jim">Present Student :</div></div>
                    <div class="default_route"><div class="jim">Ticket Sold :</div></div>
                    <div class="default_route"><div class="jim">Student Gone :</div></div>
                    <div class="default_route"><div class="jim">Student Remain With Ticket :</div></div>
                    <div class="default_route"><div class="jim">Student Remain Without Ticket :</div></div>
               </div>
               <div class="width_center">
                    <a href="home2.html" class="a_button"><button class="white_button">Back</button></a>
               </div>
          </div>
     </div>
</body>

</html>