<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../static/images/favicon.ico" type="image/x-icon">
    <title>DIU BUS</title>
    <!-- CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
    <link rel="stylesheet" type="text/css" href="../static/css/SearchForAvailableBus.css">
    <link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='css/SearchForAvailableBus.css')}}">
    <!-- JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
        integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <style>
        i {
            font-size: 30px;
            margin: 5%;
            color: #000;
        }

        i:hover {
            color: lightgreen;
        }
    </style>
</head>

<body>
    <div class="main_body">
        <a href="TryDifferentRoute.html"><i class="fa-solid fa-arrow-left p-0 m-0"></i></a>
        <div class="width_center">
            <img class="logo" src="../static/images/logo.png" alt="">
        </div>
        <div class="main_area">
            {% for ticket in tickets %}
            <div class="ticket">
                <div class="width_center">
                    <div class="width_space-between Ticket_width">
                        <div id="from" class="location1 location">{{ ticket[1] }}</div>
                        <img src="../static/images/green_round.png" alt="" srcset="" class="round_image">
                        <hr class="line1">
                        <img src="../static/images/red_round.png" alt="" srcset="" class="round_image">
                        <div id="To" class="location2 location">{{ ticket[2] }}</div>
                    </div>
                </div>
                <div class="width_center">
                    <div class="width_space-between Ticket_width">
                        <div id="start_time" class="">{{ ticket[3] }}</div>
                        <div id="end_time" class="">{{ ticket[4] }}</div>
                    </div>
                </div>
                <div class="width_center">
            <div class="width_space-between Ticket_width">
                <div class="">Slot: 1</div>
                <div class="">Surjomokhi 1</div>
            </div>
        </div>
                <div class="width_center">
                    <hr class="line4">
                </div>
                <div class="width_center m10">
                    <div class="width_space-between Ticket_width">
                        <div id="price" class="">৳{{ ticket[5] }}</div>
                        <div class="div">
                            <a href="{{ url_for('payment_method', from= ticket[1], to= ticket[2], starttime= ticket[3], endtime= ticket[4], price= ticket[5]) }}"
                                class="littlegreen_button_small">Buy</a>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</body>

</html>